tfoot th {
            background-color: #5a8dee !important;
            color: #fafafa !important;
        }

        thead th {
            background-color: #5a8dee !important;
            color: #fafafa !important;
        }

        th,
        td {
            text-align: center !important;
            vertical-align: middle !important;
            
        }

       .dataTables_paginate a {
    text-decoration: none !important;
}
     

