/* Sidebar dan Brand */
/* .main-sidebar.sidebar-dark-primary {
  background: linear-gradient(to right, #ffffff, #d0d7e4);
}

.brand-link {
  background: linear-gradient(to right, #4e73df, #5a8dee);
} */
/* .nav-link.active{
  color: #ffffff !important;

} */
.brand-text {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-sidebar,
.main-sidebar .nav-link,
.main-sidebar .nav-icon,
.main-sidebar .brand-link,
.main-sidebar .user-panel a {
  color: #5a8dee !important;
  text-decoration: none;

}

.main-sidebar .nav-link.active {
  color: #ffffff !important;
}
.nav-link.active .nav-icon {
  color: white !important;
}
.nav .nav-treeview .nav-link.active {
  pointer-events: none;       
  background-color: 	#7bb5f9 !important;  
  color: rgb(255, 255, 255) !important;               
}


.sidebar-divider {
  border-top: 1px solid #000000;
}
.nav-link.active {
    pointer-events: none;
    cursor: default;     
    background-color: #7bb5f9; 
    color: white;         
}

.nav-link.active:hover {
    background-color: #7bb5f9; 
    color: white;
}

